<!--   Core JS Files   -->
<script src="{{ config.ASSETS_ROOT }}/js/core/jquery.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/core/popper.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/core/bootstrap.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<script src="https://appsrv1-147a1.kxcdn.com/black-dashboard-pro-flask-v1.0.7/js/plugins/moment.min.js"></script> 
<script src="https://appsrv1-147a1.kxcdn.com/black-dashboard-pro-flask-v1.0.7/js/plugins/bootstrap-switch.js"></script> 
<script src="https://appsrv1-147a1.kxcdn.com/black-dashboard-pro-flask-v1.0.7/js/plugins/sweetalert2.min.js"></script> 
<script src="https://appsrv1-147a1.kxcdn.com/black-dashboard-pro-flask-v1.0.7/js/plugins/jquery.tablesorter.js"></script> 
<script src="https://appsrv1-147a1.kxcdn.com/black-dashboard-pro-flask-v1.0.7/js/plugins/jquery.validate.min.js"></script> 
<script src="https://appsrv1-147a1.kxcdn.com/black-dashboard-pro-flask-v1.0.7/js/plugins/jquery.bootstrap-wizard.js"></script> 
<script src="https://appsrv1-147a1.kxcdn.com/black-dashboard-pro-flask-v1.0.7/js/plugins/bootstrap-selectpicker.js"></script> 
<script src="https://appsrv1-147a1.kxcdn.com/black-dashboard-pro-flask-v1.0.7/js/plugins/bootstrap-datetimepicker.js"></script> 
<script src="https://appsrv1-147a1.kxcdn.com/black-dashboard-pro-flask-v1.0.7/js/plugins/jquery.dataTables.min.js"></script> 
<script src="https://appsrv1-147a1.kxcdn.com/black-dashboard-pro-flask-v1.0.7/js/plugins/bootstrap-tagsinput.js"></script> 
<script src="https://appsrv1-147a1.kxcdn.com/black-dashboard-pro-flask-v1.0.7/js/plugins/jasny-bootstrap.min.js"></script> 
<script src="https://appsrv1-147a1.kxcdn.com/black-dashboard-pro-flask-v1.0.7/js/plugins/fullcalendar/fullcalendar.min.js"></script> 
<script src="https://appsrv1-147a1.kxcdn.com/black-dashboard-pro-flask-v1.0.7/js/plugins/fullcalendar/daygrid.min.js"></script> 
<script src="https://appsrv1-147a1.kxcdn.com/black-dashboard-pro-flask-v1.0.7/js/plugins/fullcalendar/timegrid.min.js"></script> 
<script src="https://appsrv1-147a1.kxcdn.com/black-dashboard-pro-flask-v1.0.7/js/plugins/fullcalendar/interaction.min.js"></script> 
<script src="https://appsrv1-147a1.kxcdn.com/black-dashboard-pro-flask-v1.0.7/js/plugins/jquery-jvectormap.js"></script> 
<script src="https://appsrv1-147a1.kxcdn.com/black-dashboard-pro-flask-v1.0.7/js/plugins/nouislider.min.js"></script>
<!--  Google Maps Plugin    -->
<!-- Place this tag in your head or just before your close body tag. -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chart JS -->
<script src="{{ config.ASSETS_ROOT }}/js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="{{ config.ASSETS_ROOT }}/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{{ config.ASSETS_ROOT }}/js/black-dashboard.js?v=1.1.1"></script>
<!-- Black Dashboard DEMO methods, don't include it in your project! -->
<script src="{{ config.ASSETS_ROOT }}/demo/demo.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/themeSettings.js?v=1.1.1"></script>
